.rochester {
	font-family: "Rochester", cursive;
}

.huge-text {
	font-weight: 700;
	font-size: 3rem;
	color: $secondary;

}


.justify-center {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;

}
