$primary: #030ce0;
$secondary: #595757;
$dark: #010203;
$tetiary: #c4c4c4;
$dark-blue: #022162;
$warning: #f66800;
$light-gray: #ededed;
$poppins: "Poppins", sans-serif;
$rochester: "Rochester", cursive;
$youtube: linear-gradient(180deg, #e52d27 0%, #bf171d 100.03%);
$md: 992px;
$mobile: 768px;
