.branches {
	flex-direction: column;

	&-hero {
		background-image: url("/images/branches-img.png");
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 45vh;
		display: grid;
		align-items: center;
	}

	.branches-inner {
		display: grid;
		place-items: center;
	}
}

.branch-pastors {
	margin-bottom: 7rem;
	margin-top: 5rem;

	display: flex;
	justify-content: center;
	gap: 5rem;

	h3 {
		color: #022162;
	}

	h4 {
		color: #030ce0;
	}

	@media screen and (max-width: 900px) {
		flex-direction: column;
	}

	&-item {
		background-color: #ededed;
		width: 30rem;
		height: 45rem;

		&-img {
			background-repeat: no-repeat;
			min-width: 30rem;
			width: 100%;
			min-height: 24rem;
			background-size: cover;
			background-position: 0;
		}
	}
}
