.rochester {
  font-family: "Rochester", cursive;
}

.front {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .hero {
  background-image: url("/images/preaching.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;
}

.home .hero-inner {
  min-height: 70vh;
  display: -ms-grid;
  display: grid;
}

.home .hero .welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .hero .welcome-text .jhai-text {
  margin-top: 1rem;
  color: #ffffff;
  font-family: "Rochester", cursive;
}

.home .hero .welcome-text .btn {
  margin-top: 3rem;
  padding: 1rem 1.5rem;
  background: #f66800;
  width: 13rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border: none;
  text-decoration: none;
}

.home .sermon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ccceff;
  min-height: 10vh;
  padding: 2rem 0;
}

.home .sermon-section .sermon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .sermon-section .sermon-text .sermon-link {
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background: #f66800;
}

@media screen and (max-width: 900px) {
  .home .sermon-section .sermon-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }
  .home .sermon-section .sermon-text .sermon-link {
    margin-right: auto;
  }
}

.home .page-2 {
  width: 100%;
  background: linear-gradient(256.96deg, rgba(255, 255, 255, 0.7) 14.57%, #c4c4c4 172.73%);
  padding-block: 2rem;
}

@media screen and (max-width: 900px) {
  .home .page-2 {
    height: auto;
    padding: 2rem 0;
  }
}

.home .page-2 .wraper {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 900px) {
  .home .page-2 .wraper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1.5rem;
    height: auto;
  }
}

.home .page-2 .wraper .left, .home .page-2 .wraper .bible-mission .mission-content .left img, .home .bible-mission .mission-content .left .page-2 .wraper img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .page-2 .wraper .left .page-2-welcome, .home .bible-mission .mission-content .left .page-2 .wraper img .page-2-welcome {
  margin-top: 3rem;
  font-family: "Rochester", cursive;
  color: #f66800;
}

.home .page-2 .wraper .left .page-2-large-text, .home .bible-mission .mission-content .left .page-2 .wraper img .page-2-large-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  max-width: 441px;
  margin-bottom: 1.5rem;
}

.home .page-2 .wraper .left a, .home .bible-mission .mission-content .left .page-2 .wraper img a {
  text-align: center;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
}

.home .page-2 .wraper .right {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.home .page-2 .wraper .right .video, .home .page-2 .wraper .right .dates, .home .page-2 .wraper .right .events, .home .page-2 .wraper .right .tracker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 54px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 3px 54px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 1rem;
}

.home .need-prayer-page {
  background-image: url("/images/prayer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 40vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .joint-heirs_community {
  background: #ffffff;
  min-height: 70vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 3rem 0;
}

.home .joint-heirs_community .text-center .upcoming {
  font-family: "Rochester", cursive;
  color: #f66800;
}

@media screen and (max-width: 900px) {
  .home .joint-heirs_community .text-center {
    margin-top: 3rem;
    height: auto;
  }
}

.home .joint-heirs_community .cards {
  margin: 3rem 0 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media screen and (max-width: 900px) {
  .home .joint-heirs_community .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    height: auto;
    margin-bottom: 2rem;
  }
}

.home .joint-heirs_community .cards a {
  color: #f66800;
  text-decoration: none;
}

.home .joint-heirs_community .event-btn {
  text-align: center;
  background: #f66800;
  padding: 10px 1rem;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.home .resurrection {
  background-image: url("/images/flower.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 50vh;
  position: relative;
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .resurrection .resurect-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .resurrection .resurect-content .playlet-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.home .resurrection .resurect-content .playlet-list .samon {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  background: #f66800;
  padding: 10px 1rem;
  width: 12rem;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

.home .resurrection .resurect-content .playlet-list i, .home .resurrection .resurect-content .playlet-list img {
  margin-top: 2rem;
  padding: 0.6rem 0.8rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background: #f66800;
  color: #ffffff;
}

.home .resurrection .resurect-content .playlet-list img {
  height: 2.5rem;
}

.home .resurrection .resurect-content .resurrection-text-big {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 56px;
  max-width: 441px;
  margin-bottom: 1.5rem;
}

.home .resurrection .resurect-content .more-samon {
  margin-top: 1.5rem;
  text-align: center;
  background: transparent;
  padding: 10px 1rem;
  max-width: 12rem;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.home .resurrection .resurect-content .more-samon:hover {
  color: #fff;
  border: 1px solid #ffffff;
}

@media screen and (max-width: 900px) {
  .home .resurrection .resurect-content .more-samon {
    border: 1px solid #ffffff;
  }
}

.home .bible-mission {
  min-height: 50vh;
  width: 100%;
}

.home .bible-mission .mission-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 3rem 0;
}

@media screen and (max-width: 900px) {
  .home .bible-mission .mission-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
  }
}

.home .bible-mission .mission-content .left, .home .bible-mission .mission-content .left img {
  max-width: 529px;
  width: 100%;
  height: 350px;
}

.home .bible-mission .mission-content .right {
  height: auto;
}

.home .bible-mission .mission-content .right .belief-text {
  font-family: "Rochester", cursive;
  color: #f66800;
  font-weight: 400;
  font-size: 36px;
}

.home .bible-mission .mission-content .right .mission-text {
  font-size: 3rem;
  font-weight: 700;
  color: #595757;
  line-height: 56px;
  max-width: 441px;
  margin-bottom: 1.5rem;
}

.home .bible-mission .mission-content .right div {
  margin-top: 3rem;
}

.home .bible-mission .mission-content .right div a {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  background: #f66800;
  padding: 10px 1rem;
  width: 12rem;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  text-decoration: none;
}

.home .sermons-audio {
  min-height: 70vh;
  background-color: #ededed;
  padding: 2rem 0;
}

.home .sermons-audio .sermon-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

@media screen and (max-width: 900px) {
  .home .sermons-audio .sermon-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 3rem;
  }
}

.home .sermons-audio .sermon-content .right {
  max-height: 65vh;
  width: 100%;
}

.home .sermons-audio .sermon-content .right img {
  height: 100%;
  width: 100%;
}

.home .sermons-audio .sermon-content .left, .home .sermons-audio .sermon-content .bible-mission .mission-content .left img, .home .bible-mission .mission-content .left .sermons-audio .sermon-content img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.home .sermons-audio .sermon-content .left .text-decoration-none, .home .bible-mission .mission-content .left .sermons-audio .sermon-content img .text-decoration-none {
  border: 1px solid #f66800;
  border-radius: 10px;
  text-align: center;
  width: 10rem;
  padding: 0.8rem;
  color: #f66800;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.home .sermons-audio .sermon-content .left .text-decoration-none:hover, .home .bible-mission .mission-content .left .sermons-audio .sermon-content img .text-decoration-none:hover {
  background: #f66800;
  color: #ffffff;
}

.home .sermons-audio .sermon-content .left .audios, .home .bible-mission .mission-content .left .sermons-audio .sermon-content img .audios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .sermons-audio .sermon-content .left .audios .audio-hold, .home .bible-mission .mission-content .left .sermons-audio .sermon-content img .audios .audio-hold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.home .sermons-audio .sermon-content .left .audios .audio-hold .audio-play-icons, .home .bible-mission .mission-content .left .sermons-audio .sermon-content img .audios .audio-hold .audio-play-icons {
  padding: 5px;
  width: 3rem;
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  background: #ccceff;
}

.home .sermons-audio .sermon-content .left .audios .audio-hold .audio-play-icons hr, .home .bible-mission .mission-content .left .sermons-audio .sermon-content img .audios .audio-hold .audio-play-icons hr {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 1.4rem;
  border: 1px solid #595757;
  margin: 0;
}

.home .sermons-audio .sermon-content .left .audios .audio-hold .audio-playing, .home .bible-mission .mission-content .left .sermons-audio .sermon-content img .audios .audio-hold .audio-playing {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6rem;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

.home .bible-vers {
  min-height: 40vh;
  background-color: #ccceff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .home .bible-vers {
    height: auto;
  }
}

.home .bible-vers .text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .bible-vers .text-center .biles-pages {
  width: 60%;
}

.home .bible-vers .text-center .biles-pages .bible-verses {
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #ccceff;
}

.home .bible-vers .text-center .biles-pages .bible-verses .caps {
  font-family: "Rochester", cursive;
  color: #f66800;
}

.home .bible-vers .text-center .biles-pages .bible-verses .the-words {
  color: #595757;
  font-weight: 500;
  display: block;
  width: 100%;
  margin: 0.8rem auto 0;
}

.home .bible-vers .text-center .biles-pages .bible-verses .text-start {
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .bible-vers .text-center .biles-pages .bible-verses .text-end {
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home .church-branchs {
  min-height: 70vh;
  width: 100%;
  background: #ededed;
}

.home .church-branchs .branch-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .home .church-branchs .branch-content {
    height: auto;
  }
}

.home .church-branchs .branch-content .branch-holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .home .church-branchs .branch-content .branch-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.home .church-branchs .branch-content .branch-holder .children-branch, .home .church-branchs .branch-content .branch-holder .men-branch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 10px;
}

.home .church-branchs .branch-content .branch-holder .children-branch img, .home .church-branchs .branch-content .branch-holder .men-branch img {
  width: 100%;
}

.home .donation-page {
  min-height: 60vh;
  background: #ffffff;
  padding: 2rem 0;
}

.home .donation-page .donation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.home .donation-page .donation-content h4 {
  font-family: "Rochester", cursive;
  color: #f66800;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .donation-page .donation-content .donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .donation-page .donation-content .donate img {
  width: 25rem;
  height: 22rem;
}

@media screen and (max-width: 900px) {
  .home .donation-page .donation-content .donate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .home .donation-page .donation-content .donate img {
    width: 100%;
    height: 23rem;
  }
}

.home .donation-page .donation-content .donate .donate-content {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #c4c4c4;
}

.home .donation-page .donation-content .donate .donate-content .price-donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

@media screen and (max-width: 900px) {
  .home .donation-page .donation-content .donate .donate-content .price-donate {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
}

.home .donation-page .donation-content .donate .donate-content .price-donate div h2 {
  margin-top: 6px;
  font-size: 48px;
  font-weight: 700;
}

.home .donation-page .donation-content .donate .donate-content .price-donate div hr {
  margin: 0;
}

.home .donation-page .donation-content .donate .donate-content .price-donate a {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  background: #f66800;
  padding: 10px 1rem;
  width: 10rem;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  text-decoration: none;
}

.home .contact-us {
  height: auto;
  background: #ededed;
}

.home .contact-us .top {
  padding-top: 3rem;
  min-height: 55vh;
  background-image: url("/images/contactBG.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1000;
}

.home .contact-us .container form {
  z-index: 1000;
  margin-top: -10rem;
  width: 100%;
  background: #ffffff;
  padding: 3rem;
  border-radius: 20px;
}

@media screen and (max-width: 900px) {
  .home .contact-us .container form {
    width: 90%;
    margin-left: 1.5rem;
  }
}

.home .contact-us .container form .form-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.home .contact-us .container form .form-split .form-control {
  height: 3rem;
  width: 100%;
}

.home .contact-us .container form .form-split .form-select {
  height: 3rem;
}

.home .contact-us .container form .form-split .form-group {
  width: 100%;
}

.home .contact-us .container .btn {
  padding: 0.4rem 2rem;
}

.home .contact-us .botom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
  height: 50vh;
}

.home .contact-us .botom .message, .home .contact-us .botom .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .contact-us .botom .message a, .home .contact-us .botom .call a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #595757;
  font-weight: 500;
}

.home .contact-us .botom .message a .fa-solid, .home .contact-us .botom .call a .fa-solid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: #ffffff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  background: #022162;
}

.home .contact-us .botom .call a img {
  background: #022162;
  padding: 8px;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
}

.home .map-page {
  width: 100%;
  height: 50vh;
  background-image: url("/images/map.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home .footer-subscribe {
  min-height: 15vh;
  background: #ccceff;
}

.home .footer-subscribe .footer-sub {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.home .footer-subscribe .footer-sub .sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .footer-subscribe .footer-sub form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.home .footer-subscribe .footer-sub form .form-control {
  width: 70%;
}

header .navbar {
  background: rgba(3, 12, 224, 0.3);
  -webkit-backdrop-filter: blur(33px);
          backdrop-filter: blur(33px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  width: 100%;
  color: #fff;
}

header .navbar .nav-inner .logo {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  color: inherit;
}

header .navbar .nav-inner .logo span {
  max-width: 16rem;
  line-height: 1;
  font-weight: bold;
  font-size: 1.2rem;
}

header .navbar .nav-inner .logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

header .navbar .nav-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

header .navbar .nav-inner ul li {
  margin-right: 1rem;
}

header .navbar .nav-inner ul li a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header .navbar .nav-inner ul li a:hover {
  background-color: #f66800;
  padding: 10px 15px;
  border-radius: 5px;
}

header .navbar .nav-inner .nav-active a {
  color: #f66800;
  text-decoration: none;
}

header .navbar .menu-icon {
  display: none;
}

header .navbar .fa-bars,
header .navbar .fa-times {
  color: white;
  font-size: 35px;
  display: none;
}

@media screen and (max-width: 920px) {
  header .navbar .nav-inner .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.6rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 70%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 56px;
    left: -100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .navbar .nav-inner .nav li {
    margin: 2rem 1rem 0 1rem;
  }
  header .navbar .nav-inner .nav.active {
    height: 70vh;
    background: rgba(3, 12, 224, 0.3);
    -webkit-backdrop-filter: blur(33px);
            backdrop-filter: blur(33px);
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .navbar .fa-bars,
  header .navbar .fa-times {
    margin-top: 5px;
    display: block;
    font-size: 30px;
    color: white;
    float: left;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  header .navbar .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-100%, 60%);
            transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

footer .footer-main {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/images/footer.png");
}

@media screen and (max-width: 900px) {
  footer .footer-main {
    height: auto;
  }
}

@media screen and (max-width: 900px) {
  footer .footer-main .footer-main-content {
    height: auto;
  }
}

footer .footer-main .footer-main-content .text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
}

footer .footer-main .footer-main-content .text-centa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  width: 100%;
}

@media screen and (max-width: 900px) {
  footer .footer-main .footer-main-content .text-centa {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-main .footer-main-content .text-centa .nav-active {
    margin-bottom: 1rem;
  }
}

footer .footer-main .footer-main-content .text-centa ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  footer .footer-main .footer-main-content .text-centa ul {
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  footer .footer-main .footer-main-content .text-centa ul a {
    padding: 7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer-main .footer-main-content .text-centa ul li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .footer-main .footer-main-content .text-centa .nav-active a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f66800;
  text-decoration: none;
}

footer .footer-main .footer-main-content .requests {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

footer .footer-main .footer-main-content .footer-icons {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

footer .footer-main .footer-main-content .footer-icons .facebook, footer .footer-main .footer-main-content .footer-icons .twitter, footer .footer-main .footer-main-content .footer-icons .insta, footer .footer-main .footer-main-content .footer-icons .youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  height: 3rem;
  font-size: 2rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 0.5rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer-main .footer-main-content .footer-icons .facebook:hover, footer .footer-main .footer-main-content .footer-icons .twitter:hover, footer .footer-main .footer-main-content .footer-icons .insta:hover, footer .footer-main .footer-main-content .footer-icons .youtube:hover {
  background: #ffffff;
  color: #030ce0;
  border: 2px solid #030ce0;
}

footer .footer-main .footer-main-content .footer-icons .insta:hover {
  background: #ffffff;
  color: palevioletred;
  border: 2px solid palevioletred;
}

footer .footer-main .footer-main-content .footer-icons .youtube {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer-main .footer-main-content .footer-icons .youtube:hover {
  background: #ffffff;
  color: red;
  border: 2px solid red;
}

.wrapper .heade {
  background-image: url("../../public/images/PreacherBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
}

.wrapper .heade .div {
  text-align: center;
  margin: 5rem auto;
  color: #ffffff;
}

.wrapper .heade .div p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  color: #ededed;
  margin: 0;
}

.wrapper .heade .div .text-style {
  font-family: "Rochester";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 73px;
}

.wrapper .sermon {
  background-color: #ededed;
}

.wrapper .sermon-navi {
  width: 90%;
  margin: 0 auto;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .sermon-navi .sermon-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

@media screen and (max-width: 992px) {
  .wrapper .sermon-navi .sermon-flex {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper .sermon-navi .sermon-flex {
    width: 90%;
  }
}

.wrapper .sermon-navi .sermon-flex .sermom-navi-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
}

.wrapper .sermon-navi .sermon-flex .sermom-navi-toggle i, .wrapper .sermon-navi .sermon-flex .sermom-navi-toggle .home .resurrection .resurect-content .playlet-list img, .home .resurrection .resurect-content .playlet-list .wrapper .sermon-navi .sermon-flex .sermom-navi-toggle img {
  font-size: 20px;
  padding: 0.4rem 1.2rem;
  background-color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.wrapper .sermon-navi .sermon-flex .sermom-navi-toggle i:hover, .wrapper .sermon-navi .sermon-flex .sermom-navi-toggle .home .resurrection .resurect-content .playlet-list img:hover, .home .resurrection .resurect-content .playlet-list .wrapper .sermon-navi .sermon-flex .sermom-navi-toggle img:hover {
  background-color: #030ce0;
  color: #ffffff;
}

.wrapper .sermon-navi .sermon-flex .sermon-navi-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
}

.wrapper .sermon-navi .sermon-flex .sermon-navi-search i, .wrapper .sermon-navi .sermon-flex .sermon-navi-search .home .resurrection .resurect-content .playlet-list img, .home .resurrection .resurect-content .playlet-list .wrapper .sermon-navi .sermon-flex .sermon-navi-search img {
  font-size: 20px;
  padding: 0.4rem 0.8rem;
  background-color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.wrapper .sermon-navi .sermon-flex .sermon-navi-search i:hover, .wrapper .sermon-navi .sermon-flex .sermon-navi-search .home .resurrection .resurect-content .playlet-list img:hover, .home .resurrection .resurect-content .playlet-list .wrapper .sermon-navi .sermon-flex .sermon-navi-search img:hover {
  background-color: #030ce0;
  color: #ffffff;
}

.wrapper .sermon p {
  font-family: "Rochester", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 73px;
  color: #f66800;
}

.wrapper .videos {
  background-color: #ffffff;
}

.wrapper .videos .text-style {
  font-family: "Rochester";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 73px;
  color: #f66800;
  background-color: #ededed;
}

.wrapper .videos-wrapper {
  width: 80%;
  margin: 5rem auto;
}

@media screen and (max-width: 992px) {
  .wrapper .videos-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper .videos-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .wrapper .videos-wrapper {
    width: 80%;
  }
}

.wrapper .videos-wrapper .febuary {
  margin: 3rem 0;
}

.wrapper .videos-wrapper .febuary-txt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  color: #c4c4c4;
}

.wrapper .videos-wrapper .febuary .febuary-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 992px) {
  .wrapper .videos-wrapper .febuary .febuary-cont {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .wrapper .videos-wrapper .febuary .febuary-cont {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos {
  position: relative;
  background-image: url("../../public/images/pst-thomas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 364.5px;
  height: 299.41px;
}

@media screen and (max-width: 992px) {
  .wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos {
    width: 100%;
  }
}

.wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos .overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0.2)), to(#000000));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.2) 0%, #000000 100%);
  border-radius: 15px;
  height: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos .overlay p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: #ffffff;
}

.wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos .overlay .bold {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  font-weight: 600;
  color: #ffffff;
}

.wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos .overlay .image {
  width: 59.41px;
  height: 49.85px;
  margin: 0 auto;
}

.wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos .overlay .image i, .wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos .overlay .image .home .resurrection .resurect-content .playlet-list img, .home .resurrection .resurect-content .playlet-list .wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos .overlay .image img {
  font-size: 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e52d27), color-stop(100.03%, #bf171d));
  background: linear-gradient(180deg, #e52d27 0%, #bf171d 100.03%);
  padding: 0.8rem 1.6rem;
  border-radius: 7px;
  text-align: center;
  color: #ffffff;
}

.wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos .overlay .txtflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 400px) {
  .wrapper .videos-wrapper .febuary .febuary-cont .febuary-videos .overlay .txtflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper .audio .text-style {
  font-family: "Rochester";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 73px;
  color: #f66800;
  background-color: #ededed;
}

.wrapper .audio-container {
  width: 80%;
  margin: 5rem auto;
}

@media screen and (max-width: 992px) {
  .wrapper .audio-container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper .audio-container {
    width: 95%;
  }
}

.wrapper .audio-container .audio-container-wrapper {
  margin-bottom: 3rem;
}

.wrapper .audio-container .audio-container-wrapper .febuary-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  color: #c4c4c4;
}

.wrapper .audio-container .audio-container-wrapper .audio-container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-left {
  padding: 2rem 1rem;
  background: #022162;
  width: 30%;
}

@media screen and (max-width: 992px) {
  .wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-left {
    width: 30%;
  }
}

.wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-left h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-left h6 {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-left h6 {
    font-size: 30px;
  }
}

.wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-left p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-right {
  background: #ededed;
  width: 90%;
  padding: 2.5rem 3rem;
}

@media screen and (max-width: 992px) {
  .wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-right {
    width: 90%;
    padding: 2.5rem 2rem;
  }
}

.wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-right .bold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 30px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-right .bold {
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
  }
}

.wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-right hr {
  background-color: #c4c4c4;
  margin: 0 1.5rem 1rem 0;
  margin-bottom: 2rem;
  border: solid 1.5px #595757;
  padding: 0;
}

@media screen and (max-width: 992px) {
  .wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-right hr {
    margin: 0 0 1rem 0;
  }
}

.wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-right .audio-bibletext {
  margin-bottom: 2.5rem;
}

.wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-right .audio-bibletext .audio-bibletext-blue {
  color: #030ce0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-right .audio-bibletext p {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.wrapper .audio-container .audio-container-wrapper .audio-container-flex .audio-container-right .audio-bibletext a {
  text-decoration: none;
  color: #f66800;
}

.wrapper .recording {
  background-color: #ededed;
}

.wrapper .recording .text-style {
  font-family: "Rochester";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 73px;
  color: #f66800;
}

.wrapper .recording-container {
  width: 90%;
  margin: 2rem auto;
  background-color: #ededed;
}

.wrapper .recording-container .recording-container-wrapper .febuary-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  color: #c4c4c4;
}

.wrapper .recording-container .recording-container-wrapper .record {
  width: 100%;
  background-color: #ffffff;
  height: 232px;
  left: 83px;
  top: 877px;
  border-radius: 20px;
  padding: 2.3rem 5rem;
}

.wrapper .recording-container .recording-container-wrapper .record-wrapper p {
  margin: 0;
}

.wrapper .recording-container .recording-container-wrapper .record-wrapper .record-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .recording-container .recording-container-wrapper .record-wrapper .record-icon i, .wrapper .recording-container .recording-container-wrapper .record-wrapper .record-icon .home .resurrection .resurect-content .playlet-list img, .home .resurrection .resurect-content .playlet-list .wrapper .recording-container .recording-container-wrapper .record-wrapper .record-icon img {
  font-size: 42px;
  color: #f66800;
  list-style: 30px;
}

.wrapper .recording-container .recording-container-wrapper .record-wrapper .record-icon .record-text {
  margin-left: 2.5rem;
}

.wrapper .recording-container .recording-container-wrapper .record-wrapper .record-icon .record-text .pastor {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #c4c4c4;
}

.wrapper .recording-container .recording-container-wrapper .record-wrapper .record-icon .record-text .Feb {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  color: #022162;
}

.wrapper .recording-container .recording-container-wrapper .record-wrapper .record-space i, .wrapper .recording-container .recording-container-wrapper .record-wrapper .record-space .home .resurrection .resurect-content .playlet-list img, .home .resurrection .resurect-content .playlet-list .wrapper .recording-container .recording-container-wrapper .record-wrapper .record-space img {
  font-size: 22px;
  color: #030ce0;
  background-color: #ccceff;
  padding: 1rem;
}

.events-hero {
  background-image: url("/images/events_hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 55vh;
}

.events-hero-inner {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events-hero-inner h1 {
  font-weight: 700;
  color: #ededed;
}

.events-hero-inner h4 {
  color: #fff;
  font-weight: 400;
  font-family: "Rochester", cursive;
}

.events-content-nav {
  margin-block: 2rem 4rem;
}

.events-content-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  gap: 2%;
}

.events-content-nav ul .event-navlink {
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
  font-weight: 500;
}

.events-content-nav ul .event-navlink:hover {
  color: #030ce0;
}

.events-content-nav ul .event-navlink.active {
  background-color: #030ce0;
  color: #fff;
  border-radius: 10px;
}

.events-content-nav ul .event-navlink li {
  text-align: center;
  padding-block: 0.6rem;
}

@media screen and (min-width: 992px) {
  .events-content-nav ul {
    width: 60%;
    margin: 0 auto;
    gap: 5%;
  }
  .events-content-nav ul .event-navlink {
    font-size: 1.2rem;
  }
}

.event-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 10px;
  height: 24rem;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.event-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(204, 206, 255, 0.67);
  -webkit-backdrop-filter: blur(33px);
          backdrop-filter: blur(33px);
}

.event-card-content .content-box {
  height: 5px;
  overflow: hidden;
}

.event-card-content:hover .content-box {
  -webkit-animation: 0.5s animate-content-box ease-in-out;
          animation: 0.5s animate-content-box ease-in-out;
  height: 100%;
  padding-block: 1rem;
}

.branches {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.branches-hero {
  background-image: url("/images/branches-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.branches .branches-inner {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.branch-pastor {
  margin-bottom: 7rem;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
}

.branch-pastor h3 {
  color: #022162;
}

.branch-pastor h4 {
  color: #030ce0;
}

@media screen and (max-width: 900px) {
  .branch-pastor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.branch-pastor-ken {
  background-color: #ededed;
  width: 30rem;
  height: 45rem;
}

.branch-pastor-ken-img {
  background-image: url("/images/pst-ken.png");
  background-repeat: no-repeat;
  min-width: 30rem;
  width: 100%;
  min-height: 24rem;
}

.branch-pastor-john {
  background-color: #ededed;
  width: 30rem;
  height: 45rem;
}

.branch-pastor-john-img {
  background-image: url("/images/pst-john.png");
  background-repeat: no-repeat;
  min-width: 30rem;
  width: 100%;
  min-height: 24rem;
}

.footer-subscribe {
  height: 30vh;
  width: 100%;
  background: #ccceff;
}

.footer-subscribe .footer-sub {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.footer-subscribe .footer-sub .sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-subscribe .footer-sub form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.footer-subscribe .footer-sub form .form-control {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@-webkit-keyframes animate-content-box {
  0% {
    height: 5px;
  }
  100% {
    height: 100%;
  }
}

@keyframes animate-content-box {
  0% {
    height: 5px;
  }
  100% {
    height: 100%;
  }
}
/*# sourceMappingURL=custom.css.map */