.home {
	display: flex;
	flex-direction: column;

	.hero {
		background-image: url("/images/preaching.png");
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 75vh;

		&-inner {
			min-height: 70vh;
			display: grid;
		}

		.welcome-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.jhai-text {
				margin-top: 1rem;
				color: #ffffff;
				font-family: "Rochester", cursive;
			}

			.btn {
				margin-top: 3rem;
				padding: 1rem 1.5rem;
				background: #f66800;
				width: 13rem;
				border-radius: 10px;
				font-weight: 600;
				font-size: 20px;
				color: #fff;
				border: none;
				text-decoration: none;
			}
		}
	}

	.sermon-section {
		display: flex;
		align-items: center;
		background: #ccceff;
		min-height: 10vh;
		padding: 2rem 0;

		.sermon-text {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.sermon-link {
				font-weight: 600;
				font-size: 1.25rem;
				text-decoration: none;
				color: #fff;
				padding: 1rem 1.5rem;
				border-radius: 10px;
				background: $warning;
			}
		}

		@media screen and (max-width: 900px) {
			.sermon-text {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;

				.sermon-link {
					margin-right: auto;
				}
			}
		}
	}

	.page-2 {
		width: 100%;
		background: linear-gradient(256.96deg, rgba(255, 255, 255, 0.7) 14.57%, #c4c4c4 172.73%);
		padding-block: 2rem;

		@media screen and (max-width: 900px) {
			height: auto;
			padding: 2rem 0;
		}

		.wraper {
			display: grid;
			gap: 2rem;
			grid-template-columns: 1fr 1fr;

			@media screen and (max-width: 900px) {
				display: grid;
				grid-template-columns: 1fr;
				gap: 1.5rem;
				height: auto;
			}

			.left {
				display: flex;
				flex-direction: column;

				.page-2-welcome {
					margin-top: 3rem;
					font-family: "Rochester", cursive;
					color: $warning;
				}

				.page-2-large-text {
					font-size: 3rem;
					font-weight: 700;
					line-height: 56px;
					max-width: 441px;
					margin-bottom: 1.5rem;
				}

				a {
					text-align: center;
					margin-top: 1rem;
					font-weight: 600;
					font-size: 1.25rem;
					color: #fff;
				}
			}

			.right {
				margin-top: 2rem;
				display: grid;
				column-gap: 1rem;
				row-gap: 1rem;
				grid-template-columns: 1fr 1fr;

				.video {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 1rem;
					background: #ffffff;
					box-shadow: 0px 3px 54px rgba(0, 0, 0, 0.06);
					border-radius: 10px;
					padding: 1rem;
				}

				.dates {
					@extend.video;
				}

				.events {
					@extend.video;
				}

				.tracker {
					@extend.video;
				}
			}
		}
	}

	.need-prayer-page {
		background-image: url("/images/prayer.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		min-height: 40vh;
		display: grid;
		align-items: center;
	}

	.joint-heirs_community {
		background: #ffffff;
		min-height: 70vh;
		width: 100%;
		display: grid;
		align-items: center;
		margin-bottom: 2rem;
		padding: 3rem 0;

		.text-center {
			.upcoming {
				font-family: "Rochester", cursive;
				color: $warning;
			}

			// .community-text-bold {
			// 	font-size: 3rem;
			// 	font-weight: 700;
			// 	text-align: center;
			// 	color: $secondary;
			// 	line-height: 56px;
			// 	max-width: 441px;
			// 	margin-bottom: 1.5rem;
			// }

			@media screen and (max-width: 900px) {
				margin-top: 3rem;
				height: auto;
			}
		}

		.cards {
			margin: 3rem 0 2rem 0;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1.5rem;

			@media screen and (max-width: 900px) {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				height: auto;
				margin-bottom: 2rem;
			}



			a {
				color: $warning;
				text-decoration: none;
			}
		}

		.event-btn {
			text-align: center;
			background: #f66800;
			padding: 10px 1rem;
			border-radius: 10px;
			font-size: 16px;
			color: #fff;
			text-decoration: none;
		}
	}

	.resurrection {
		background-image: url("/images/flower.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		min-height: 50vh;
		position: relative;
		padding: 2rem 0;
		align-items: center;

		.resurect-content {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.playlet-list {
				display: flex;
				align-items: center;
				gap: 1rem;

				.samon {
					margin-top: 2rem;
					text-align: center;
					padding: 1rem 2rem;
					background: $warning;
					padding: 10px 1rem;
					width: 12rem;
					border-radius: 10px;
					color: #fff;
					text-decoration: none;
				}

				i {
					margin-top: 2rem;
					padding: 0.6rem 0.8rem;
					border: none;
					display: flex;
					justify-content: center;
					border-radius: 5px;
					background: $warning;
					color: #ffffff;
				}

				img {
					height: 2.5rem;
					@extend i;
				}
			}

			.resurrection-text-big {
				font-size: 3rem;
				font-weight: 700;
				color: #ffffff;
				line-height: 56px;
				max-width: 441px;
				margin-bottom: 1.5rem;
			}

			.more-samon {
				margin-top: 1.5rem;
				text-align: center;
				background: transparent;
				padding: 10px 1rem;
				max-width: 12rem;
				border-radius: 10px;
				font-size: 16px;
				color: #fff;
				text-decoration: none;
				transition: all 0.2s ease-in-out;

				&:hover {
					color: #fff;
					border: 1px solid #ffffff;
				}

				@media screen and (max-width: 900px) {
					border: 1px solid #ffffff;
				}
			}
		}
	}

	.bible-mission {
		min-height: 50vh;
		width: 100%;

		.mission-content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 3rem;
			padding: 3rem 0;

			@media screen and (max-width: 900px) {
				grid-template-columns: 1fr;
				height: auto;
			}

			.left {
				max-width: 529px;
				width: 100%;
				height: 350px;

				img {
					@extend.left;
				}
			}

			.right {
				height: auto;

				.belief-text {
					font-family: "Rochester", cursive;
					color: $warning;
					font-weight: 400;
					font-size: 36px;
				}

				.mission-text {
					font-size: 3rem;
					font-weight: 700;
					color: $secondary;
					line-height: 56px;
					max-width: 441px;
					margin-bottom: 1.5rem;
				}

				div {
					margin-top: 3rem;

					a {
						margin-top: 2rem;
						text-align: center;
						padding: 1rem 2rem;
						background: #f66800;
						padding: 10px 1rem;
						width: 12rem;
						border-radius: 10px;
						font-size: 16px;
						color: #fff;
						border: none;
						text-decoration: none;
					}
				}
			}
		}
	}

	.sermons-audio {
		min-height: 70vh;
		background-color: #ededed;
		padding: 2rem 0;

		.sermon-content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 4rem;

			@media screen and (max-width: 900px) {
				grid-template-columns: 1fr;
				margin-top: 3rem;
			}

			.right {
				max-height: 65vh;
				width: 100%;

				img {
					height: 100%;
					width: 100%;
				}
			}

			.left {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 2rem;

				.text-decoration-none {
					border: 1px solid $warning;
					border-radius: 10px;
					text-align: center;
					width: 10rem;
					padding: 0.8rem;
					color: $warning;
					transition: all 0.4s ease-in-out;

					&:hover {
						background: $warning;
						color: #ffffff;
					}
				}

				.audios {
					display: flex;
					flex-direction: column;

					.audio-hold {
						display: flex;
						gap: 1rem;

						.audio-play-icons {
							padding: 5px;
							width: 3rem;
							height: 5.5rem;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: space-between;
							border-radius: 10px;
							background: #ccceff;

							hr {
								transform: rotate(180deg);
								width: 1.4rem;
								border: 1px solid $secondary;
								margin: 0;
							}
						}

						.audio-playing {
							width: 100%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							height: 6rem;
							border-top: 1px solid $tetiary;
							border-bottom: 1px solid $tetiary;
						}
					}
				}
			}
		}
	}

	.bible-vers {
		min-height: 40vh;
		background-color: #ccceff;
		display: flex;
		align-items: center;

		@media screen and (max-width: 900px) {
			height: auto;
		}

		.text-center {
			display: flex;
			justify-content: center;
			align-items: center;

			.biles-pages {
				width: 60%;

				.bible-verses {
					text-align: center;
					padding: 2rem;
					border-radius: 2rem;
					user-select: none;
					background: #ccceff;

					.caps {
						font-family: "Rochester", cursive;
						color: $warning;
					}

					.the-words {
						color: $secondary;
						font-weight: 500;
						display: block;
						width: 100%;
						margin: 0.8rem auto 0;
					}

					.text-start {
						height: 1rem;
						display: flex;
						width: 100%;
						justify-content: flex-start;
					}

					.text-end {
						height: 1rem;
						display: flex;
						width: 100%;
						justify-content: flex-end;
					}
				}
			}
		}
	}

	.church-branchs {
		min-height: 70vh;
		width: 100%;
		background: #ededed;

		.branch-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 2rem 0;
			gap: 2rem;

			@media screen and (max-width: 900px) {
				height: auto;
			}

			.branch-holder {
				width: 100%;
				display: flex;
				gap: 2rem;

				@media screen and (max-width: 900px) {
					flex-direction: column;
					height: auto;
				}

				.children-branch {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100%;
					gap: 10px;

					img {
						width: 100%;
					}
				}

				.men-branch {
					@extend.children-branch;
				}
			}
		}
	}

	.donation-page {
		min-height: 60vh;
		background: #ffffff;
		padding: 2rem 0;

		.donation-content {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			h4 {
				font-family: "Rochester", cursive;
				color: $warning;
				margin: 0;
				align-self: center;
			}

			.donate {
				display: flex;
				justify-content: center;

				img {
					width: 25rem;
					height: 22rem;
				}

				@media screen and (max-width: 900px) {
					flex-direction: column;
					height: auto;

					img {
						width: 100%;
						height: 23rem;
					}
				}

				.donate-content {
					width: 100%;
					padding: 2rem;
					display: flex;
					flex-direction: column;
					background: $tetiary;

					.price-donate {
						display: flex;
						align-items: center;
						gap: 4rem;

						@media screen and (max-width: 900px) {
							justify-content: space-between;
							gap: 0;
						}

						div {
							h2 {
								margin-top: 6px;
								font-size: 48px;
								font-weight: 700;
							}

							hr {
								margin: 0;
							}
						}

						a {
							margin-top: 2rem;
							text-align: center;
							padding: 1rem 2rem;
							background: #f66800;
							padding: 10px 1rem;
							width: 10rem;
							border-radius: 10px;
							font-size: 16px;
							color: #fff;
							border: none;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.scroll-to-top {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		position: fixed;
		right: 10px;
		bottom: 10px;
		cursor: pointer;
		border-radius: 15%;
		background-color: #038c33;
		margin-right: 40px;
		margin-bottom: 80px;

		visibility: visible;
		opacity: 1;

		.scroll {
			height: 30px;
			width: 30px;
			background-color: #003412;
			border-radius: 50%;
			border: rgb(51, 49, 49) solid 1px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.hideToggle {
		transition: all 1s ease-in-out;
		visibility: hidden;
		opacity: 0;
		right: -20%;
	}
	.showToggle {
		visibility: visible;
		opacity: 1;
		right: 0;
		transition: right 1s ease-in-out;
	}
	.fas {
		color: #ffffff;
	}

	.contact-us {
		height: auto;
		background: #ededed;

		.top {
			padding-top: 3rem;
			min-height: 55vh;
			background-image: url("/images/contactBG.png");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			z-index: -1000;
		}

		.container {
			form {
				z-index: 1000;
				margin-top: -12rem;
				width: 100%;
				background: #ffffff;
				padding: 3rem;
				border-radius: 20px;

				@media screen and (max-width: 900px) {
					width: 90%;
					margin-left: 1.5rem;
				}

				.form-split {
					display: flex;
					gap: 1rem;

					.form-control {
						height: 3rem;
						width: 100%;
					}

					.form-select {
						height: 3rem;
					}

					.form-group {
						width: 100%;
					}
				}
			}

			.btn {
				padding: 0.4rem 2rem;
			}
		}

		.botom {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5rem;
			height: 50vh;

			.message {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				a {
					display: flex;
					align-items: center;
					flex-direction: column;
					text-decoration: none;
					color: $secondary;
					font-weight: 500;

					.fa-solid {
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 20px;
						color: #ffffff;
						width: 2.5rem;
						height: 2.5rem;
						border-radius: 5px;
						background: $dark-blue;
					}
				}
			}

			.call {
				@extend.message;

				a {
					img {
						background: $dark-blue;
						padding: 8px;
						width: 2.5rem;
						height: 2.5rem;
						border-radius: 5px;
					}
				}
			}
		}
	}

	.map-page {
		width: 100%;
		height: 50vh;
	}

	.footer-subscribe {
		min-height: 15vh;
		background: #ccceff;

		.footer-sub {
			width: 100%;
			height: 15vh;
			display: flex;
			align-items: center;
			gap: 3rem;

			.sub-text {
				display: flex;
				flex-direction: column;
			}

			form {
				width: 80%;
				display: flex;
				justify-content: space-between;
				gap: 2rem;

				.form-control {
					width: 70%;
				}
			}
		}
	}
}