.home {
	display: flex;
	flex-direction: column;
	.header {
		background-image: url("../../public/images/preaching.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 100vh;
		.welcome-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 5rem;
			.jhai-text {
				margin-top: 1rem;
				color: #ffffff;
				font-family: "Rochester", cursive;
			}
			.welcome {
				margin-top: 3rem;
				padding: 1rem 1.5rem;
				background: #f66800;
				width: 13rem;
				border-radius: 10px;
				font-weight: 600;
				font-size: 20px;
				color: #fff;
				border: none;
				text-decoration: none;
			}
		}
		@media screen and (max-width: 900px) {
			height: 80vh;
		}
	}

	.sermon-section {
		display: flex;
		align-items: center;
		background: #ccceff;
		min-height: 12rem;

		.sermon-text {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.sermon-link {
				margin-right: 3rem;
				font-weight: 600;
				font-size: 20px;
				text-decoration: none;
				color: #fff;
				padding: 1rem 1.5rem;
				border-radius: 10px;
				background: $warning;
			}
		}
		@media screen and (max-width: 900px) {
			.sermon-text {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
				.sermon-link {
					margin-right: auto;
				}
			}
		}
	}

	.page-2 {
		height: 90vh;
		background: linear-gradient(256.96deg, rgba(255, 255, 255, 0.7) 14.57%, #c4c4c4 172.73%);
		.wraper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.left {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				h5 {
					font-family: "Rochester", cursive;
					color: $warning;
				}
				a {
					text-align: center;
					margin-top: 3rem;
					padding: 1rem 2rem;
					background: #f66800;
					padding: 10px 1rem;
					width: 12rem;
					border-radius: 10px;
					font-weight: 600;
					font-size: 20px;
					color: #fff;
					border: none;
					text-decoration: none;
				}
			}
			.right {
				margin-top: 2rem;
				align-items: center;
				display: grid;
				column-gap: 1.5rem;
				row-gap: 1.5rem;
				grid-template-columns: 1fr 1fr;
				.video {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 1rem;
					background: #ffffff;
					box-shadow: 0px 3px 54px rgba(0, 0, 0, 0.06);
					border-radius: 10px;
					padding: 1rem 1rem;
				}
				.dates {
					@extend.video;
				}
				.events {
					@extend.video;
				}
				.tracker {
					@extend.video;
				}
			}
		}
		@media screen and (max-width: 915px) {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 80vh;
		}
	}

	.page-3 {
		background-image: url("../../public/images/prayer.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 61vh;
		.prayer {
			height: 60vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 3rem;
			a {
				background: $warning;
				width: 10rem;
				height: 3.5rem;
				padding: 20px 50px;
				border-radius: 10px;
				color: #ffffff;
				text-decoration: none;
			}
		}
	}

	.joint-heirs_community {
		background: #ffffff;
		height: 100vh;
		width: 100%;
		.text-center {
			// height: 80vh;
			.upcoming {
				font-family: "Rochester", cursive;
				color: $warning;
			}
			@media screen and (max-width: 900px) {
				margin-top: 3rem;
			}
		}
		.cards {
			margin: 3rem 0 3rem 0;
			display: flex;
			gap: 1.5rem;
			justify-content: center;
			align-items: center;
			.children {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				border-radius: 10px;
				height: 22rem;
				background-image: url("../../public/images/children.png");
				background-repeat: no-repeat;
				background-size: cover;
				width: 23rem;
				.children-content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					background: rgba(204, 206, 255, 0.67);
					backdrop-filter: blur(33px);
					div {
						display: none;
						@media screen and (max-width: 900px) {
							display: contents;
						}
					}
					&:hover {
						div {
							display: contents;
						}
					}
				}
			}
			.men-week {
				@extend.children;
				background-image: url("../../public/images/men.png");

				.men-content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					background: rgba(204, 206, 255, 0.67);
					backdrop-filter: blur(33px);
					div {
						display: none;
						@media screen and (max-width: 900px) {
							display: contents;
						}
					}
					&:hover {
						div {
							display: contents;
						}
					}
				}
			}
			.singles {
				@extend.children;
				background-image: url("../../public/images/singles.png");
				.singles-content {
					display: flex;
					flex-direction: column;
					justify-content: center;
					background: rgba(204, 206, 255, 0.67);
					backdrop-filter: blur(33px);
					div {
						display: none;
						@media screen and (max-width: 900px) {
							display: contents;
						}
					}
					&:hover {
						div {
							display: contents;
						}
					}
				}
			}
			a {
				color: $warning;
				text-decoration: none;
			}
		}
		.event-btn {
			text-align: center;
			padding: 1rem 2rem;
			background: #f66800;
			padding: 10px 1rem;
			width: 12rem;
			border-radius: 10px;
			font-size: 16px;
			color: #fff;
			border: none;
			text-decoration: none;
		}
	}

	.resurrect {
		background-image: url("../../public/images/flower.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 70vh;
		position: relative;
		.resurect-content {
			display: flex;
			width: 100%;
			height: 70vh;
			flex-direction: column;
			justify-content: center;
			.playlet-list {
				display: flex;
				align-items: center;
				gap: 1rem;
				.samon {
					margin-top: 2rem;
					text-align: center;
					padding: 1rem 2rem;
					background: $warning;
					padding: 10px 1rem;
					width: 12rem;
					border-radius: 10px;
					color: #fff;
					text-decoration: none;
				}
				i {
					margin-top: 2rem;
					padding: 0.6rem 0.8rem;
					border: none;
					display: flex;
					justify-content: center;
					border-radius: 5px;
					background: $warning;
					color: #ffffff;
				}
				img {
					height: 2.5rem;
					@extend i;
				}
			}
			.more-samon {
				margin-top: 1.5rem;
				text-align: center;
				padding: 1rem 2rem;
				background: transparent;
				padding: 10px 1rem;
				width: 12rem;
				border-radius: 10px;
				font-size: 16px;
				color: #fff;
				text-decoration: none;
				transition: all 0.2s ease-in-out;
				&:hover {
					color: #fff;
					border: 1px solid #ffffff;
				}
				@media screen and (max-width: 900px) {
					border: 1px solid #ffffff;
				}
			}
		}
	}

	.bible-mission {
		height: 80vh;
		width: 100%;
		.mission-content {
			height: 80vh;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.left {
				width: 529px;
				height: 379px;
				img {
					@extend.left;
				}
			}
			.right {
				height: auto;
				h4 {
					font-family: "Rochester", cursive;
					color: $warning;
				}
				div {
					margin-top: 3rem;
					a {
						margin-top: 2rem;
						text-align: center;
						padding: 1rem 2rem;
						background: #f66800;
						padding: 10px 1rem;
						width: 12rem;
						border-radius: 10px;
						font-size: 16px;
						color: #fff;
						border: none;
						text-decoration: none;
					}
				}
			}
		}
	}

	.sermons-audio {
		height: 100vh;
		width: 100%;
		background: #ededed;
		@media screen and (max-width: 900px) {
			height: 70vh;
		}
		.sermon-content {
			height: 100vh;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media screen and (max-width: 900px) {
				height: 70vh;
			}
			.right {
				height: 30rem;
				width: 25rem;
				img {
					@extend.right;
				}
			}
			.left {
				height: 30rem;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.text-warning {
					margin-top: 2rem;
					border: 1px solid $warning;
					border-radius: 10px;
					text-align: center;
					width: 10rem;
					padding: 0.8rem;
				}
				.audios {
					display: flex;
					flex-direction: column;

					.audio-hold {
						display: flex;
						gap: 1rem;
						.audio-play-icons {
							padding: 5px;
							width: 3rem;
							height: 6.5rem;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: space-between;
							border-radius: 10px;
							background: #ccceff;
							hr {
								transform: rotate(180deg);
								width: 1.4rem;
								border: 1px solid $secondary;
								margin: 0;
							}
						}
						.audio-playing {
							width: 25rem;
							display: flex;
							flex-direction: column;
							justify-content: center;
							height: 6.9rem;
							border-top: 1px solid $tetiary;
							border-bottom: 1px solid $tetiary;
						}
					}
				}
			}
		}
	}
	.bible-vers {
		height: 50vh;
		background: #ccceff;

		.text-center {
			height: 50vh;
			display: flex;
			justify-content: center;
			align-items: center;

			.biles-pages {
				width: 60%;
				padding-bottom: 4rem;
				.bible-verses {
					text-align: center;
					padding: 2rem;
					border-radius: 2rem;
					user-select: none;
					background: #ccceff;
					.caps {
						font-family: "Rochester", cursive;
						color: $warning;
					}
					.the-words {
						color: $secondary;
						font-weight: 500;
						display: block;
						width: 80%;
						margin: 0.8rem auto 0;
					}
					.text-start {
						height: 1rem;
						margin-left: 3rem;
						display: flex;
						width: 90%;
						justify-content: flex-start;
					}
					.text-end {
						height: 1rem;
						display: flex;
						width: 90%;
						justify-content: flex-end;
					}
				}
			}
		}
	}

	.church-branchs {
		height: 90vh;
		width: 100%;
		background: #ededed;
		@media screen and (max-width: 900px) {
			margin-top: 2rem;
			height: 50vh;
		}
		.branch-content {
			margin-top: 3rem;
			height: inherit;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			.branch-holder {
				display: flex;
				gap: 2rem;
				.children-branch {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 10px;
					img {
						width: 18rem;
						height: 15rem;
					}
				}
				.men-branch {
					@extend.children-branch;
				}
			}
		}
	}

	.donation-page {
		height: 100vh;
		width: 100%;
		background: #ffffff;
		.donation-content {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			h4 {
				font-family: "Rochester", cursive;
				color: $warning;
				margin: 0;
				align-self: center;
			}
			.donate {
				display: flex;
				justify-content: center;
				img {
					width: 27rem;
					height: 23rem;
				}
				.donate-content {
					padding: 2rem;
					display: flex;
					flex-direction: column;
					background: $tetiary;
					.price-donate {
						display: flex;
						align-items: center;
						gap: 4rem;
						div {
							h2 {
								margin: 0;
								font-size: 48px;
								font-weight: 700;
							}
							hr {
								margin: 0;
							}
						}
						a {
							margin-top: 2rem;
							text-align: center;
							padding: 1rem 2rem;
							background: #f66800;
							padding: 10px 1rem;
							width: 10rem;
							border-radius: 10px;
							font-size: 16px;
							color: #fff;
							border: none;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.contact-us {
		width: 100%;
		height: auto;
		background: #ededed;
		.top {
			padding-top: 3rem;
			width: 100%;
			height: 70vh;
			background-image: url("../../public/images/contactBG.png");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			z-index: -1000;
		}
		.container {
			form {
				z-index: 1000;
				margin-top: -14rem;
				width: 100%;
				background: #ffffff;
				padding: 3rem;
				border-radius: 20px;
				.form-split {
					display: flex;
					gap: 1rem;
					.form-control {
						height: 3rem;
						width: 100%;
					}
					.form-select {
						height: 3rem;
					}
					.form-group {
						width: 100%;
					}
				}
			}
			.btn {
				padding: 0.4rem 2rem;
			}
		}
		.botom {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5rem;
			height: 50vh;
			.message {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				a {
					display: flex;
					align-items: center;
					flex-direction: column;
					text-decoration: none;
					color: $secondary;
					font-weight: 500;
					.fa-solid {
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 20px;
						color: #ffffff;
						width: 2.5rem;
						height: 2.5rem;
						border-radius: 5px;
						background: $dark-blue;
					}
				}
			}
			.call {
				@extend.message;
				a {
					img {
						background: $dark-blue;
						padding: 8px;
						width: 2.5rem;
						height: 2.5rem;
						border-radius: 5px;
					}
				}
			}
		}
	}

	.map-page {
		width: 100%;
		height: 50vh;
		background-image: url("../../public/images/map.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}
