@import "./variables";
@import "bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&family=Rochester&display=swap");

html {
	font-size: 14px;
	scroll-behavior: smooth;
	@media screen and (min-width: $mobile) {
		font-size: 16px;
	}
}

body {
	font-family: $poppins;
}

@font-face {
	font-family: "Rochester";
	src: url("../assets/fonts/Rochester-Regular.ttf");
}
