.wrapper {
	.heade {
		background-image: url("../../public/images/PreacherBg.png");
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 60vh;
		.div {
			text-align: center;
			margin: 5rem auto;
			color: #ffffff;
			p {
				font-family: "Poppins";
				font-style: normal;
				font-weight: 700;
				font-size: 60px;
				line-height: 73px;
				text-align: center;
				color: $light-gray;
				margin: 0;
			}
			.text-style {
				font-family: "Rochester";
				font-style: normal;
				font-weight: 400;
				font-size: 48px;
				line-height: 73px;
			}
		}
	}
	.sermon {
		background-color: $light-gray;

		&-navi {
			width: 90%;
			margin: 0 auto;
			height: 10rem;
			display: flex;
			justify-content: flex-end;

			.sermon-flex {
				display: flex;
				margin-top: 2rem;
				justify-content: space-between;
				width: 60%;

				@media screen and (max-width: $md) {
					width: 80%;
				}
				@media screen and (max-width: $mobile) {
					width: 90%;
				}

				.sermom-navi-toggle {
					display: flex;
					align-items: flex-start;
					gap: 0.5rem;
					i {
						font-size: 20px;
						padding: 0.4rem 1.2rem;
						background-color: #ffffff;
						border-radius: 3px;
						cursor: pointer;
						&:hover {
							background-color: $primary;
							color: #ffffff;
						}
					}
				}
				.sermon-navi-search {
					display: flex;
					align-items: flex-start;

					gap: 0.5rem;
					i {
						font-size: 20px;
						padding: 0.4rem 0.8rem;
						background-color: #ffffff;
						border-radius: 3px;
						cursor: pointer;
						&:hover {
							background-color: $primary;
							color: #ffffff;
						}
					}
				}
			}
		}
		p {
			font-family: $rochester;
			font-style: normal;
			font-weight: 400;
			font-size: 48px;
			line-height: 73px;
			color: $warning;
		}
	}

	// VIDEOCOMP STYLINGS
	.videos {
		background-color: #ffffff;
		.text-style {
			font-family: "Rochester";
			font-style: normal;
			font-weight: 400;
			font-size: 48px;
			line-height: 73px;
			color: $warning;
			background-color: $light-gray;
		}

		&-wrapper {
			width: 80%;
			margin: 5rem auto;

			@media screen and (max-width: $md) {
				width: 80%;
			}
			@media screen and (max-width: $mobile) {
				width: 80%;
			}

			@media screen and (max-width: 400px) {
				width: 80%;
			}

			.febuary {
				margin: 3rem 0;
				&-txt {
					font-family: $poppins;
					font-style: normal;
					font-weight: 500;
					font-size: 25px;
					line-height: 31px;
					color: $tetiary;
				}
				.febuary-cont {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 1rem;
					@media screen and (max-width: $md) {
						grid-template-columns: repeat(2, 1fr);
					}
					@media screen and (max-width: $mobile) {
						grid-template-columns: repeat(1, 1fr);
					}

					.febuary-videos {
						position: relative;
						background-image: url("../../public/images/pst-thomas.png");
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						width: 364.5px;
						height: 299.41px;
						@media screen and (max-width: $md) {
							width: 100%;
						}
						@media screen and (max-width: $mobile) {
							width: 100%;
						}
						@media screen and (max-width: 400px) {
							width: 100%;
						}
						.overlay {
							background: linear-gradient(180deg, rgba(196, 196, 196, 0.2) 0%, #000000 100%);
							border-radius: 15px;
							height: 100%;
							padding: 1rem;
							display: flex;
							flex-direction: column;
							justify-content: end;

							p {
								font-family: "Poppins";
								font-style: normal;
								font-weight: 400;
								font-size: 16px;

								margin: 0;

								color: #ffffff;
							}
							.bold {
								font-family: "Poppins";
								font-style: normal;
								font-weight: 500;
								font-size: 16px;
								line-height: 20px;
								margin: 0;
								font-weight: 600;
								color: #ffffff;
							}

							.image {
								width: 59.41px;
								height: 49.85px;
								margin: 0 auto;

								i {
									font-size: 18px;
									background: $youtube;
									padding: 0.8rem 1.6rem;
									border-radius: 7px;
									text-align: center;
									color: #ffffff;
								}
							}
							.txtflex {
								display: flex;
								margin-top: 3rem;
								align-items: center;
								justify-content: space-between;
								@media screen and (max-width: 400px) {
									flex-direction: column;
									display: flex;
									justify-content: center;
								}
							}
						}
					}
				}
			}
		}
	}

	// AUDIOCOMP STYLING

	.audio {
		.text-style {
			font-family: "Rochester";
			font-style: normal;
			font-weight: 400;
			font-size: 48px;
			line-height: 73px;
			color: $warning;
			background-color: $light-gray;
		}
		&-container {
			width: 80%;
			margin: 5rem auto;

			@media screen and (max-width: $md) {
				width: 90%;
			}
			@media screen and (max-width: $mobile) {
				width: 95%;
			}
			.audio-container-wrapper {
				margin-bottom: 3rem;
				.febuary-text {
					font-family: $poppins;
					font-style: normal;
					font-weight: 500;
					font-size: 25px;
					line-height: 31px;
					color: $tetiary;
				}
				.audio-container-flex {
					display: flex;
					.audio-container-left {
						padding: 2rem 1rem;
						background: $dark-blue;
						width: 30%;
						@media screen and (max-width: $md) {
							width: 30%;
						}
						h6 {
							font-family: "Montserrat";
							font-style: normal;
							font-weight: 700;
							font-size: 30px;
							line-height: 60px;

							color: #ffffff;
							@media screen and (max-width: $md) {
								font-size: 36px;
							}
							@media screen and (max-width: $mobile) {
								font-size: 30px;
							}
						}
						p {
							font-family: $poppins;
							font-style: normal;
							font-weight: 500;
							font-size: 18px;
							line-height: 30px;
							color: #ffffff;
						}
					}
					.audio-container-right {
						background: $light-gray;
						width: 90%;
						padding: 2.5rem 3rem;
						@media screen and (max-width: $md) {
							width: 90%;
							padding: 2.5rem 2rem;
						}
						.bold {
							font-family: $poppins;
							font-style: normal;
							font-weight: 500;
							font-size: 38px;
							line-height: 30px;

							text-align: center;
							@media screen and (max-width: $md) {
								font-size: 24px;
								font-weight: 600;
								line-height: 38px;
							}
						}
						hr {
							background-color: $tetiary;
							margin: 0 1.5rem 1rem 0;
							margin-bottom: 2rem;
							border: solid 1.5px $secondary;
							padding: 0;
							@media screen and (max-width: $md) {
								margin: 0 0 1rem 0;
							}
						}
						.audio-bibletext {
							margin-bottom: 2.5rem;
							.audio-bibletext-blue {
								color: $primary;
								font-family: $poppins;
								font-style: normal;
								font-weight: 500;
								font-size: 18px;
								line-height: 30px;
							}
							p {
								color: #000000;
								font-family: $poppins;
								font-style: normal;
								font-weight: 500;
								font-size: 18px;
								line-height: 30px;
							}
							a {
								text-decoration: none;
								color: $warning;
							}
						}
					}
				}
			}
		}
	}
	// RECORDINGS STYLING

	.recording {
		background-color: $light-gray;
		.text-style {
			font-family: "Rochester";
			font-style: normal;
			font-weight: 400;
			font-size: 48px;
			line-height: 73px;
			color: $warning;
		}
		&-container {
			width: 90%;
			margin: 2rem auto;
			background-color: $light-gray;
			.recording-container-wrapper {
				.febuary-text {
					font-family: $poppins;
					font-style: normal;
					font-weight: 500;
					font-size: 25px;
					line-height: 31px;
					color: $tetiary;
				}
				.record {
					width: 100%;
					background-color: #ffffff;
					height: 232px;
					left: 83px;
					top: 877px;
					border-radius: 20px;
					padding: 2.3rem 5rem;
					&-wrapper {
						p {
							margin: 0;
						}
						.record-icon {
							display: flex;
							align-items: center;
							i {
								font-size: 42px;
								color: $warning;
								list-style: 30px;
							}
							.record-text {
								margin-left: 2.5rem;
								.pastor {
									font-family: $poppins;
									font-style: normal;
									font-weight: 500;
									font-size: 16px;
									line-height: 24px;
									color: $tetiary;
								}
								.Feb {
									font-family: $poppins;
									font-style: normal;
									font-weight: 500;
									font-size: 25px;
									line-height: 31px;
									color: $dark-blue;
								}
							}
						}
						.record-space {
							i {
								font-size: 22px;
								color: $primary;
								background-color: $line-bg;
								padding: 1rem;
							}
						}
					}
				}
			}
		}
	}
}
