.wrapper {
	header {
		background-image: url("../../public/images/PreacherBg.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 55vh;
	}
	.sermon {
		background-color: $light-gray;

		&-navi {
			width: 90%;
			margin: 0 auto;
			height: 10rem;
			display: flex;
			justify-content: flex-end;

			.sermon-flex {
				display: flex;
				margin-top: 2rem;
				justify-content: space-between;
				width: 60%;
				background-color: red;
				@media screen and (max-width: $md) {
					width: 80%;
				}
				@media screen and (max-width: $mobile) {
					width: 90%;
				}

				.sermom-navi-toggle {
					display: flex;
					gap: 2rem;
				}
				.sermon-navi-search {
					display: flex;

					gap: 2rem;
				}
			}
		}
		p {
			font-family: $rochester;
			font-style: normal;
			font-weight: 400;
			font-size: 48px;
			line-height: 73px;
			color: $warning;
		}
	}

	// VIDEOCOMP STYLINGS
	.videos {
		background-color: #ffffff;
		width: 100%;
		&-wrapper {
			width: 80%;
			margin: 5rem auto;

			@media screen and (max-width: $md) {
				width: 80%;
			}
			@media screen and (max-width: $mobile) {
				width: 80%;
			}

			@media screen and (max-width: 400px) {
				width: 80%;
			}

			.febuary {
				margin: 3rem 0;
				&-txt {
					font-family: $poppins;
					font-style: normal;
					font-weight: 500;
					font-size: 25px;
					line-height: 31px;
					color: $tetiary;
				}
				.febuary-cont {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 1rem;
					@media screen and (max-width: $md) {
						grid-template-columns: repeat(2, 1fr);
					}
					@media screen and (max-width: $mobile) {
						grid-template-columns: repeat(1, 1fr);
					}

					.febuary-videos {
						position: relative;
						background-image: url("../../public/images/pst-thomas.png");
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						width: 364.5px;
						height: 299.41px;
						@media screen and (max-width: $md) {
							width: 100%;
						}
						@media screen and (max-width: $mobile) {
							width: 100%;
						}
						@media screen and (max-width: 400px) {
							width: 100%;
						}
						.overlay {
							background: linear-gradient(180deg, rgba(196, 196, 196, 0.2) 0%, #000000 100%);
							border-radius: 15px;
							height: 100%;
							padding: 1rem 2rem;
							display: flex;
							flex-direction: column;
							justify-content: end;

							p,
							.bold {
								font-family: "Poppins";
								font-style: normal;
								font-weight: 500;
								font-size: 16px;

								margin: 0;
								/* or 125% */

								color: #ffffff;
							}

							.image {
								width: 59.41px;
								height: 59.41px;
								margin: 0 auto;

								img {
									width: 100%;
									height: 100%;
								}
							}
							.txtflex {
								display: flex;
								margin-top: 3rem;
								align-items: center;
								justify-content: space-between;
								@media screen and (max-width: 400px) {
									flex-direction: column;
									display: flex;
									justify-content: center;
								}
								.bold {
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}
	}
}
