.team {
	&-hero {
		z-index: 2;
		min-height: 40vh;
		background: url("/images/Team/hero.png") no-repeat center;
		background-size: cover;
		display: grid;
		align-items: center;

		h1 {
			font-size: 4rem;
			font-weight: 700;
		}

		.hero-desc {
			color: white;
			text-align: center;

			p {
				color: white;
			}
		}
	}

	&-card {
		box-shadow: 0px 4px 23px 1px rgba(167, 167, 167, 0.29);
		z-index: 1;

		&-img {
			img {
				width: 100%;
				height: 100%;
				border-radius: 10px 10px 0px 0px;
			}
		}

		&-desc {
			text-align: center;
			padding: 2em 3em 2em;
			background: white;

			p {
				margin-top: 1em;
			}

			h5 {
				margin-top: -10px;
				cursor: pointer;
			}

			h6 {
				font-style: italic;
				font-weight: 400;
				font-size: 12px;
			}

			&-socials {
				margin-top: -1em;

				.icon-holder {
					width: 36px;
					height: 36px;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		@media screen and (max-width: 768px) {
			max-width: 100%;
		}
	}

	.subscription-wrapper {
		height: 192px;
		background: #ccceff;
		flex-wrap: wrap;

		.text {
			h1 {
				font-size: 40px;
				font-weight: 700;
			}

			h5 {
				font-size: 24px;
				font-weight: 500;
			}
		}

		input {
			height: 65px;
			border: 1px solid #ededed;
			border-radius: 10px;
			font-size: 24px;
			padding-left: 1.2em;
			// margin-left: -1em;

			&::placeholder {
				color: #c4c4c4;
			}

			&:focus {
				outline: none;
			}
		}

		button {
			height: 60px;
			font-size: 20px;
			background: #f66800;
			color: white;
			border-radius: 10px;
			cursor: pointer;
			outline: none;
			border: none;

			margin-left: 1.2em;
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;
			gap: 0;
			height: auto;

			.text {
				width: auto;
				margin-top: 1em;

				h1 {
					font-size: 35px;
				}

				h5 {
					font-size: 20px;
				}
			}

			input {
				// height: 50px;
				font-size: 18px;
				margin-left: 0;
				width: 100%;
			}

			button {
				width: 200px;
				margin-left: 50%;
				transform: translateX(-50%);
				margin-top: 7px;
				margin-bottom: 1em;
			}
		}

		@media screen and (max-width: 1019px) {
			gap: 0;
		}
	}

	.department {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-end: auto;
		grid-gap: 3em;

		// border: 2px solid blue;

		@media screen and (max-width: 991px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (max-width: 768px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.team-categories {
		// border: 2px solid red;
		// width: 100%;
		padding-bottom: 6em;
		background: #ededed;
		position: relative;

		.strokes {
			#ellipse-right {
				position: absolute;
				left: 0;
				top: -70px;
			}

			#ellipse-left {
				position: absolute;
				right: 0;
				top: 15%;
				z-index: -1;
			}
		}

		.desc {
			text-align: center;
			padding-top: 6em;

			h4 {
				font-weight: 700;
				font-size: 48px;
				margin-top: -12px;
				margin-bottom: 1em;

				@media screen and (max-width: 768px) {
					font-size: 38px;
				}
			}
		}
	}

	.single-team {
		&-info {
			display: flex;
			align-items: center;
			gap: 2em;

			.img {
				width: 900px;

				@media screen and (max-width: 768px) {
					width: 100%;
				}

				img {
					width: 100%;
					height: 100%;
					border-radius: 10px 10px 0px 0px;
				}
			}

			@media screen and (max-width: 768px) {
				flex-direction: column;
				padding: 1em;
			}
		}

		.message-team {
			width: 85%;
			margin: 3em auto;
			margin-bottom: 4em;
			padding: 3em;
			box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.07);
			border-radius: 20px;

			input,
			textarea {
				padding: 2em;
				display: block;
				width: 100%;
				border-radius: 10px;
				border: 2px solid $tetiary;

				&:focus {
					outline: none;
				}
			}

			.outer-inputs-wrapper {
				gap: 2em;
				margin-bottom: 2em;

				.input-wrapper {
					width: 50%;

					input {
						height: 50px;
					}
				}
			}

			.consent {
				align-items: center;
				gap: 1em;
				margin-top: 1em;
				margin-bottom: 2.5em;

				input {
					width: auto;
				}

				p {
					margin-bottom: 0;
				}
			}

			button {
				width: 153px;
				height: 50px;
				background: $warning;
				border: none;
				outline: none;
				color: #fff;
				border-radius: 10px;
			}
		}
	}
}
