.about-team {
	&-hero {
		z-index: 2;
		min-height: 40vh;
		background: url("/images/About-Team/hero.png") no-repeat center;
		background-size: cover;
		display: grid;

		h1 {
			font-size: 4rem;
			font-weight: 700;
		}

		.hero-desc {
			color: white;
			text-align: center;

			p {
				color: white;
			}
		}

	}
}